Adafruit-Blinka==6.15.0
adafruit-blinka-bleio==2.2.0
adafruit-circuitpython-ble==8.1.0
Adafruit-PlatformDetect==3.16.1
Adafruit-PureIO==1.1.9
aiofiles==0.7.0
ajsonrpc==1.2.0
anyio==3.3.3
apparmor==3.0.3
appdirs==1.4.4
application-utility==1.3.2
asgiref==3.4.1
awscli==1.20.49
bcrypt==3.2.0
bleak==0.11.0
botocore==1.21.49
bottle==0.12.19
Brlapi==0.8.3
btrfsutil==5.14.2
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.14.6
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-next==0.2.3
distlib==0.3.3
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
docutils==0.17.1
entrypoints==0.3
h11==0.12.0
html5lib==1.1
idna==3.2
ifaddr==0.1.7
importlib-metadata==4.8.1
jeepney==0.7.1
Jinja2==3.0.2
jmespath==0.10.0
keyring==23.0.1
keyutils==0.6
kiwisolver==1.3.2
LibAppArmor==3.0.3
libfdt==1.6.1
libtorrent===1.2.14-build-libtorrent-rasterbar-src-libtorrent-rasterbar-1.2.14-bindings-python
louis==3.19.0
Markdown==3.3.4
MarkupSafe==2.0.1
marshmallow==3.13.0
matplotlib==3.4.3
more-itertools==8.10.0
msgpack==1.0.2
netsnmp-python==1.0a1
npyscreen==4.10.5
numpy==1.21.3
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.21.5
pep517==0.11.0
Pillow==8.3.2
platformio==5.2.1
ply==3.11
progress==1.5
proton-client==0.7.1
protonvpn-cli==3.10.1
protonvpn-gui==1.5.2
protonvpn-nm-lib==3.6.1
psutil==5.8.0
pwquality==1.4.4
pyasn1==0.4.8
PyBluez==0.23
pycairo==1.20.1
pycparser==2.20
pycups==2.0.1
pycurl==7.44.1
pyelftools==0.27
pyftdi==0.53.3
PyGObject==3.40.1
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-sip==12.9.0
pyserial==3.5
pysmbc==1.0.23
python-dateutil==2.8.2
python-gnupg==0.4.7
pythondialog==3.5.2
pyusb==1.2.1
pyxdg==0.27
PyYAML==5.4.1
rados==2.0.0
rbd==2.0.0
reportlab==3.6.1
requests==2.26.0
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rsa==4.7.2
s-tui==1.1.3
s3transfer==0.5.0
scipy==1.7.2
SecretStorage==3.3.1
semantic-version==2.8.5
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
systemd-python==234
tabulate==0.8.9
team==1.0
TLPUI==1.4.0
toml==0.10.2
tomli==1.2.1
udiskie==2.3.3
urllib3==1.26.6
urwid==2.1.2
uvicorn==0.15.0
webencodings==0.5.1
wsproto==1.0.0
zeroconf==0.36.8
zipp==3.6.0
